*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100dvh;
    flex-shrink: 0;    
}

body{
    display: block;
    background: var(--020-a-18, #020A18);
}

a{
    text-decoration: none;
    color: #FFF;
}

.header{
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__nav_menu{    
    display: flex;
    justify-content: center;
    gap: 40px;    
}

.nav_menu__items{
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    list-style-type: none;
    padding-top: 39px;
    padding-bottom: 39px;
}

.main{
    color: var(--ffffff, #FFF);
}

.conteiner{
    display: flex;
    justify-content: center; 
}

.text__conteiner{
    width: 604px;
    height: 415px;
    flex-shrink: 0;
    margin-right: 128px;    
}



.but1{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    }

.but2{
    width: Hug (217px);
    height: Hug (57px);
    top: 618px;
    left: 578px;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    gap: 10px;

}

.banner_labels{
    display: flex;
    gap: 45px;
    margin-right: calc(50% - 960px);
    margin-left: calc(50% - 960px);
    justify-content: center;
    
}

h1{    
font-family: Open Sans;
font-size: 55px;
font-style: normal;
font-weight: 800;
line-height: 130%; /* 71.5px */
padding: 10px 0;
}

.text{
    padding: 10px 0;
}

